## Based on https://www.py4e.com/

In [1]:
print ("hello world")

hello world

In [2]:
i = 1
print (i)

1

### values and types

In [5]:
type("astring")
type(1)
type(2.2)

float

### varialbles

In [7]:
message = "a message"
print (message)

a message

### operators

In [11]:
minute = 59
print (minute / 60)
print (minute // 60 ) #in python3 diviion results in float while in python2 it return integer, to achieve same in 3 use // floored divsions

0.9833333333333333
0

### modulus and operator

In [14]:
quotient = 7 // 3
remainder = 7 % 3

print (quotient, remainder)

2 1

### asking for input

In [18]:
a = input("Say some silly stuff")

Say some silly stuffsome silly stuff

In [19]:
print (a)

some silly stuff

In [21]:
num = int("2")
print (num)

2

### conditional expression

In [24]:
print (5 == 5)
type (True)

True

bool

In [25]:
5 > 3 and 5 > 4

True

In [27]:
not (True) or not (False)

True

### conditional execution

In [29]:
x = 5
if x > 0:
    print ('x is positive')

x is positive

In [31]:
if x%2 == 0:
    print ('x is even')
else:
    print ('x is odd')

x is odd

In [32]:
y = 7
if x < y:
    print ('x is less than y')
elif x > y:
    print ('x is greater than y')
else:
    print ('x is equal to y')

x is less than y

In [33]:
if x == y:
    print ('x is equal to y')
else:
    if x < y:
        print ('x is less than y')
    else:
        print ('x is greater than y')

x is less than y

### catching an exception

In [35]:
try:
    f = float("nnm")
except:
    print ("use float instead of string")

use float instead of string

### short circuit and guardian pattern

In [38]:
x = 7
y = 0
x >= 2 and y != 0 and (x/y) > 2  #y!= is protecting the division by zero, and expression is evaluated from left to right

False

### functions

In [39]:
max('Hello this is good')

't'

In [40]:
len('hello world')

11

In [41]:
int('2')

2

In [42]:
str(32)

'32'

### random functions

In [43]:
import random

for i in range(10):
    x = random.random()
    print (x)

0.07919395586272304
0.5167452493106031
0.23360925465642113
0.54673781972923
0.7245396530240257
0.3741586270317846
0.8031869409635907
0.5114259279108794
0.15707588106628778
0.7712481510031681

In [46]:
random.randint(4,9)

5

In [47]:
t = [3,2,5]
random.choice(t)

5

### math functions

In [51]:
import math
print(math)

ratio = 1 / 2
decibals = 10 * math.log10(ratio)
print (decibals)

<module 'math' from '/Users/nahmad/anaconda2/envs/py36/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so'>
-3.010299956639812

In [54]:
print (math.sin(0.7))
math.sqrt(100)

0.644217687237691

10.0

In [57]:
def print_lyrics():
    print ("this is a song")
print(print_lyrics)
print_lyrics()

<function print_lyrics at 0x104ec62f0>
this is a song

In [61]:
def print_twice(astr):
    print (astr)
    print (astr)

print_twice("hello")
print_twice("hello "*2)

hello
hello
hello hello
hello hello

### while statement

In [62]:
n = 5
while n > 0:
    print (n)
    n = n - 1

5
4
3
2
1

### break

In [66]:
n = 5
while True:
    if n < 0:
        break
    n = n - 1
print (n)

-1

### for

In [71]:
friends = ['Joseph', 'Glenn', 'Sally']

for f in friends:
    print ("heppy new year",f)

heppy new year Joseph
heppy new year Glenn
heppy new year Sally

### string

In [76]:
fruit = "banana"
print (len(fruit))

print (fruit[0])

6
b

In [78]:
str = "this is a string"
print (str[3:7])

s is

In [81]:
fruit = 'banana'
print (fruit[:3])
print (fruit[:])

ban
banana

### in operator

In [83]:
'a' in 'banana'

True

In [85]:
if 'a' == 'a':
    print ("a is equal")

a is equal

In [88]:
stuff = "stuff string"
type(stuff)
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [91]:
print (type(stuff))
help(str.capitalize)

<class 'str'>
Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [93]:
line = " here we go"
line.strip()

'here we go'

### string find

In [97]:
anemail = "this@example.com"
atpos = anemail.find("@")
print (atpos)
domain = anemail[atpos+1:]
print (domain)
name = anemail[:atpos]
print (name)

4
example.com
this

### string format

In [100]:
camels = 42
" I spotted lots of %d camerls" % camels

' I spotted lots of 42 camerls'

In [102]:
"In %d years I have spotted %g %s." % (3,0.1,'camles')

'In 3 years I have spotted 0.1 camles.'

### files

In [107]:
fhand = open('test.txt') # reads the file one line at a time, very effecient memory wise
for line in fhand:
    print (line)

This is a test file

And this is another line

In [109]:
fhand2 = open('test.txt')
inp = fhand2.read()
print (len(inp))

44

In [112]:
#writing files
fout = open("output.txt","w")
fout.write("this is a file")
fout.close()

In [114]:
repr("this is\n my name")

"'this is\\n my name'"

### lists

In [115]:
cheses = ['Cheddar','Edam','Gouda']
numbers = [1,2,3]
empty = []
print (cheses,numbers,empty)

['Cheddar', 'Edam', 'Gouda'] [1, 2, 3] []

In [116]:
print (cheses[1])

Edam

In [119]:
print ('Edam' in cheses)

True

In [120]:
for i in range (len(numbers)):
    numbers[i] = numbers[i] * 2
print (numbers)

[2, 4, 6]

In [121]:
a = [1,2,3]
b = [4,5,6]

c = a + b
print (c)

[1, 2, 3, 4, 5, 6]

In [124]:
q = [1,2] * 4
print (q)

[1, 2, 1, 2, 1, 2, 1, 2]

In [133]:
t = ['a','b','c']
t[1:3]

['b', 'c']

In [134]:
t[1:3] = ['x','y']
print (t)

['a', 'x', 'y']

In [135]:
t.append('d')
print (t)

['a', 'x', 'y', 'd']

In [136]:
t.extend(['v','b'])
print (t)

['a', 'x', 'y', 'd', 'v', 'b']

In [137]:
t.sort()
print (t)

['a', 'b', 'd', 'v', 'x', 'y']

In [139]:
x = t.pop()
print (t,x)

['a', 'b', 'd', 'v'] x

In [140]:
del t[0]
print (t)

['b', 'd', 'v']

In [142]:
t = ['a','b','c']
t.remove('b')
print (t)

['a', 'c']

In [145]:
t = ['a','b','c']
del t[1:2]
print (t)

['a', 'c']

In [148]:
nums = [1,2,3]
x = sum(nums)
m = max(nums)
n = min(nums)
l = len(nums)
print (x, m, n, l)

6 3 1 3

In [150]:
s = "happy for you"
t = s.split()
print (t)

['happy', 'for', 'you']

In [151]:
s = "spam-spam-spam"
t = s.split("-")
print (t)

['spam', 'spam', 'spam']

In [155]:
q = "=".join(t)
print (q)

spam=spam=spam

### is operator

In [157]:
a = 'the'
b = 'the'

print (a == b)
print (a is b)   #is checks if they are same object

True
True

### dictionary

In [9]:
ens2sp = dict()
ens2sp['one'] = 'uno'
print(ens2sp)
print(ens2sp['one'])
print(len(ens2sp))
print ('one' in ens2sp)
vals = ens2sp.values()
print (list(vals))
print('uno' in vals)

{'one': 'uno'}
uno
1
True
['uno']
True

In [13]:
counts = {'a':1, 'b':2}
print(counts.get('a',0))
print(counts.get('c',0))  #uses the default as c is not in the dictionary

1
0

In [14]:
for key in counts:
    print (key, counts[key])

a 1
b 2

### tupples

In [18]:
a = ('1',)
print (a)
print (type(a))

('1',)
<class 'tuple'>

In [25]:
t = tuple(['a','b'])
print (t)
print (t[0])
print (t[:1])

q = ('A',) + t[:1]
print (q)

('a', 'b')
a
('a',)
('A', 'a')

In [26]:
(0,1,2) < (0,1,3)  # compares 1 element from each

True

In [31]:
#DSU pattern Decorate, Sort, Undecorate

txt = " this is a soft sofa"
words = txt.split()
t = list()
for word in words:
    t.append((len(word),word))
    
t.sort(reverse=True) #note it sorts by first element of tupple

res = list()
for length, word in t:
    res.append(word)
print (res)

['this', 'soft', 'sofa', 'is', 'a']

### multiple assignment tuple on left

In [33]:
m = ['have', 'fun']
x,y = m
print (x)
print (y)

have
fun

In [35]:
#use tupples to swap values in one go
a = 1
b = 2
b,a = a,b
print (a,b)

2 1

In [37]:
addr = "a@gmail.com"
u,domain = addr.split('@')
print (u,domain)

a gmail.com

### dictionay and tupes

In [41]:
d = {'q':10, 'b':20, 'c':3 }
t = list(d.items())
print (t)

t.sort()
print(t)

[('q', 10), ('b', 20), ('c', 3)]
[('b', 20), ('c', 3), ('q', 10)]

### iterating dictionary with tupes

In [44]:
d = {'q':10, 'b':20, 'c':3 }
for key,value in list(d.items()):
    print (key,value)

q 10
b 20
c 3

### tuples as keys in dictionary

In [48]:
#tuples are immutable and hence can become composite keys in a dictionay
directory = dict()
directory['Jim','Pauk'] = "7232223123"
directory['Tom','Hanks'] = "723222322"

for fname, lname in directory:
    print (fname,lname,directory[fname,lname])

Jim Pauk 7232223123
Tom Hanks 723222322

### regular expressions

In [51]:
import re
astr = "From: John"
if re.search("^From:", astr): #allows to use regular expression
    print ("matched")

matched

In [54]:
s = 'A message from csev@umich.edu to cwen@iupui.edu about meeting @2PM'
lst = re.findall('\S+@\S+',s)  #\S matches any non white space char
print (lst)

['csev@umich.edu', 'cwen@iupui.edu']

In [56]:
#using findall and paranthesis

astr = "X-DSP-sdfs: 1.2"

x = re.findall('^X\S*: ([0-9.]+)',astr)
print (x)

['1.2']

### open webpages

In [59]:
import urllib.request

fhand = urllib.request.urlopen(' http://data.pr4e.org/romeo.txt')
for line in fhand:
    print(line.decode().strip())

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

### parsing xml

In [72]:
import xml.etree.ElementTree as ET

data = '''
    <person>
        <name age="32">Chuck</name>
        <name age="31">Jack</name>
    </person>
'''

tree = ET.fromstring(data)
print (tree.find('name').text)
print (tree.find('name').get('age'))

Chuck
32

In [88]:
#looping through


lst = tree.findall("name")
print (len(lst))
print (lst)
for item in lst:
    print ('Name ', item.text)
    print ('Age ', item.get('age'))

2
[<Element 'name' at 0x10acdc728>, <Element 'name' at 0x10acdcb38>]
Name  Chuck
Age  32
Name  Jack
Age  31

### json

In [91]:
import json

data = '''
[
    {
        "id":"001",
        "x":"2"
    },
    {
        "id":"002",
        "x":"3"
    }
]
'''

info = json.loads(data)
for item in info:
    print (item)

{'id': '001', 'x': '2'}
{'id': '002', 'x': '3'}